<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <title>Title</title>
</head>
<body>
<div id="app" class="container">
    {% raw %}
    <nav>
    <div class="nav-wrapper">
        <span>現在の正答率{{ record.correct_ratio }}%</span>
        <span v-if="record.correct_ratio > 70">【合格ライン】</span>
        <span v-else>【不合格ライン】</span>
        <ul class="right">
            <li><a href="#"><i class="material-icons">help</i></a></li>
      </ul>
    </div>
    </nav>
    {% endraw %}
    <div class="row">
        <!-- Page Content goes here -->
        {% raw %}
        <template v-if="is_fetching">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
            </div>
        </template>

        <template v-else>
            <h6>{{ question }}</h6>
            <ol style="list-style-type: katakana">
                <li v-for="(candidate, index) in candidates" v-on:click="checkAnswer(index);">
                    <template v-if="show_answer">
                        <i v-if="selected_answer_index == index" class="material-icons">check</i>
                        <span v-if="candidate.correct">正しい：</span>
                        <span v-else>誤り：</span>
                    </template>
                    {{ candidate.text }}
                    <p v-if="show_answer">{{ candidate.description }}</p>
                </li>
            </ol>
        </template>

        <a v-if="show_answer" class="waves-effect waves-light btn" v-on:click="fetchQuestion();">次の問題へ</a>
        {% endraw %}
    </div>
</div>

<!-- 開発バージョン、便利なコンソールの警告が含まれています -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
    // document.addEventListener('DOMContentLoaded', function() {
    //     var elems = document.querySelectorAll('.modal');
    //     var instances = M.Modal.init(elems, options);
    // });
    M.AutoInit();
    $(document).ready(function(){
        $('.modal').modal();
    });
    var app = new Vue({
        el: '#app',
        data: {
            question: "",
            candidates: [],
            answers: [],
            show_answer: false,
            selected_answer_index: -1,
            record: {
                "correct": 0,
                "total": 0,
                "correct_ratio": 0
            },
            is_fetching: false
        },
        methods: {
            fetchQuestion: function () {
                var self = this;

                self.show_answer = false;
                self.selected_answer_index = -1;

                self.is_fetching = true;
                axios.get("/api/question",{
                }).then(function (response){
                    self.question = response.data.question;
                    self.candidates = response.data.candidates;
                    self.is_fetching = false;
                }).catch(function (error){
                });
            },
            echoMessage: function (message) {
                console.log(message);
            },
            checkAnswer: function(index) {
                var self = this;
                if (self.show_answer === false){
                    self.selected_answer_index = index;
                    self.show_answer = true;

                    self.record.total += 1;
                    if (self.candidates[index].correct) {
                        self.record.correct += 1;
                    }
                    self.record.correct_ratio = Math.round(self.record.correct / self.record.total * 100);
                }
            }
        },
        mounted: function () {
            this.fetchQuestion();
        }
    })
</script>
</body>
</html>